{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}
{% load i18n %}

<div class="order-form mynavbar inner">

    <p>{%  trans "HelloWorld" %}!</p>
          <div class="modal-header">
            <h4 class="modal-title"></h4>
          </div>
          <form method="POST" action="" >
          <div class="modal-body">

                {% csrf_token %}
                {% bootstrap_form form %}

          </div>
          <div class="modal-footer">

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Send Name" %}
                    </button>
                {% endbuttons %}
          </div>
          </form>

</div>
{% endblock %}