<!DOCTYPE html>
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
<html lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True  %}
    <link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}img/favicon.ico" >
    <link href="{{STATIC_URL}}css/light.css" type="text/css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/site.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js" ></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/themas.js" ></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
{% endblock %}
</body>
</html>