{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}
{% load i18n %}
    {% if user.name %}

         <a href="{% url 'upload_avatar_page' %}" class="btn btn- link" role="button">{% trans "Upload Avatar" %}</a>
         <a href="{% url 'log_out_page' %}" class="btn btn- link" role="button">{% trans "Log Out" %}</a>
         <a href="{% url 'set_lang_ru' %}" class="btn btn- link" role="button">{% trans "Russian language" %}</a>
         <a href="{% url 'set_lang_en' %}" class="btn btn- link" role="button">{% trans "English language" %}</a>

         <a href="#" id="dark" class="btn btn- link" role="button">{% trans "Dark Theme" %}</a>
         <a href="#" id="light" class="btn btn- link" role="button">{% trans "Light Theme" %}</a>

        <div class="center">
            <h1 class="btn center">{% trans "Hellow" %} {{ user.name }}!</h1>
            <img style="width:100px" src="{{ MEDIA_URL }}{{ user.avatar }}"/>
        </div>
    {% endif %}

{% endblock %}