{% extends "base.html" %}
{% block content %}
{% load bootstrap3 %}
{% load i18n %}
    <a class="btn btn-" href="{% url 'log_out_page' %}">{% trans "Log Out" %}</a>
    <form method="POST" enctype="multipart/form-data" action="" >
          <div class="modal-body">
                {% csrf_token %}
                {% bootstrap_form form %}

          </div>
          <div class="modal-footer">

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Upload Avatar" %}
                    </button>
                {% endbuttons %}
          </div>
    </form>
{% endblock %}